@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
style > #content {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: #335C67;
  text-decoration: none;
  padding: 35px;
  margin: 0 10px;
}

body {
  background-color: #fcfbfb;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF3B0;
  grid-template-columns: 150px auto;
  padding: 10px;
}

nav a:hover {
  background-color: #9E2A2B;
  color: #ffffff;
}

footer {
  background-color: #FFF3B0;
  color: #f1faee;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #335C67;
  text-decoration: none;
}

footer a:hover {
  color: #9E2A2B;
}

.logo {
  width: 80px;
}

footer p {
  color: #d9c2a3;
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}